## Business Problem.

**- Microsoft sees all the big companies creating original video content and they want to get in on the fun.**

**- They have decided to create a new movie studio, but they don’t know anything about creating movies.**

**- You are charged with exploring what types of films are currently doing the best at the box office.**

**- You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.**

## Data Collection.
**- After analyzing the business problem,I have decided to determine which movies made the most profit at the box office and use the profit as a measure of the movies performance.**

**-With that,I have obtained two datasets(already availed by the institution from Kaggle) namely movie budgets and movie gross.**

**-The first data set gives information on the amount of monetary resources used to produce a given movie while the later dataset gives information on the revenue generated from a given movie.**

**- These are the datasets I shall use in my analysis.**

## Data Processing and Transformation.
**- I now want to proceed on with loading,cleaning and transforming the datasets so as to make them ready for data analysis.**

In [2]:
## Import relevant libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [70]:
# Load both datasets into the notebook
movie_budgets=pd.read_csv('C:/Users/dv/Desktop/Moringa School/Project 1-Exploratory Data Analysis/tn.movie_budgets.csv')
movie_gross=pd.read_csv('C:/Users/dv/Desktop/Moringa School/Project 1-Exploratory Data Analysis/bom.movie_gross.csv')

####### A)  CLEAN AND TRANSFROM THE 'MOVIE_GROSS' DATASET.

In [72]:
#Preview the movie_gross df to ensure that it loaded correctly.
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [73]:
#Obtain information about the movie_gross df dataset
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [74]:
# Calculate the percentage of null values in each column
null_counts=movie_gross.isnull().sum()
total_values = movie_gross.size
percentage_null = (null_counts / total_values) * 100
# Display the results
print(percentage_null)

title             0.000000
studio            0.029525
domestic_gross    0.165338
foreign_gross     7.971656
year              0.000000
dtype: float64

In [75]:
# Drop the null values as they are insignificant to the overrall size of tge dataset.
movie_gross=movie_gross.dropna()
movie_gross.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [76]:
# Define a formatting function to add commas and format values into currency.
def format_currency(value):
    return "${:,.2f}".format(value)

In [77]:
#Convert the data values in the 'domestic_gross' and 'foreign_gross' columns into numerical values.
movie_gross['domestic_gross'] = pd.to_numeric(movie_gross['domestic_gross'], errors='coerce')
movie_gross['foreign_gross'] = pd.to_numeric(movie_gross['foreign_gross'], errors='coerce')

# Apply the formatting function to the columns
movie_gross['domestic_gross'] = movie_gross['domestic_gross'].apply(format_currency)
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].apply(format_currency)

In [78]:
# The columns are now in currency form.
movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,"$415,000,000.00","$652,000,000.00",2010
1,Alice in Wonderland (2010),BV,"$334,200,000.00","$691,300,000.00",2010
2,Harry Potter and the Deathly Hallows Part 1,WB,"$296,000,000.00","$664,300,000.00",2010
3,Inception,WB,"$292,600,000.00","$535,700,000.00",2010
4,Shrek Forever After,P/DW,"$238,700,000.00","$513,900,000.00",2010
...,...,...,...,...,...
3275,I Still See You,LGF,"$1,400.00","$1,500,000.00",2018
3286,The Catcher Was a Spy,IFC,"$725,000.00","$229,000.00",2018
3309,Time Freak,Grindstone,"$10,000.00","$256,000.00",2018
3342,Reign of Judges: Title of Liberty - Concept Short,Darin Southa,"$93,200.00","$5,200.00",2018
3353,Antonio Lopez 1970: Sex Fashion & Disco,FM,"$43,200.00","$30,000.00",2018

In [79]:
#I would have loved to list out the studio names in full, however,I am not familiar with the studios.

# I also wanted to check if there exists an outlier in the year column.But no outlier exists.
movie_gross['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [80]:
# Convert the column name "title" to "movie_title" so as the column name is more intuitive.
movie_gross = movie_gross.rename(columns={'title': 'movie_title'})

In [81]:
# Convert the column name "year" to "release_year" so as the column name is more intuitive.
movie_gross = movie_gross.rename(columns={'year': 'release_year'})

In [86]:
#set the movie_tittlle column as the index of the data frame.
movie_gross=movie_gross.set_index('movie_title')

In [87]:
## Preview the cleaned and transformed 'movie_gross' dataset.
movie_gross

,studio,domestic_gross,foreign_gross,release_year
movie_title,,,,
Toy Story 3,BV,"$415,000,000.00","$652,000,000.00",2010
Alice in Wonderland (2010),BV,"$334,200,000.00","$691,300,000.00",2010
Harry Potter and the Deathly Hallows Part 1,WB,"$296,000,000.00","$664,300,000.00",2010
Inception,WB,"$292,600,000.00","$535,700,000.00",2010
Shrek Forever After,P/DW,"$238,700,000.00","$513,900,000.00",2010
...,...,...,...,...
I Still See You,LGF,"$1,400.00","$1,500,000.00",2018
The Catcher Was a Spy,IFC,"$725,000.00","$229,000.00",2018
Time Freak,Grindstone,"$10,000.00","$256,000.00",2018
Reign of Judges: Title of Liberty - Concept Short,Darin Southa,"$93,200.00","$5,200.00",2018
Antonio Lopez 1970: Sex Fashion & Disco,FM,"$43,200.00","$30,000.00",2018

## EDA On The Cleaned and Transformed Dataset.